body {
    font-family: 'Acme', sans-serif;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

p, 
ul {
    margin: 0;  
    padding: 0;
}

.pokemon_list {
    margin-bottom: 20px;
}

.fight_list{
    text-align: center;
}

.pokemon_list, 
.fight_list { 
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

.pokemon_image {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.stats1, 
.stats2 {
    text-align: center;
}

button {
    font-family: 'Acme', sans-serif;
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #2773ba;
    color: #ffcc01;
    font-size: 24px;
}

.vs_logo {
    width: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.health1,
.health2 {
    background-image: linear-gradient(to right, red, yellow);
}

.pokemon1,
.pokemon2 {
    position: relative;
}

.demageWrapper1,
.demageWrapper2 {
    position: absolute;
    top: 25%;
    left: 0;
}

.demageImg1,
.demageImg2 {
    width: 100%;
    height: auto;
}

.demageValue1,
.demageValue2 {
    font-size: 100px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2773ba;
}

.winner {
    text-align: center;
    color: #ffcc01;
    font-size: 36px; 
}

.logo_pokemon {
    display: block;
    margin: 60px auto 0;

}

.wrapper {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20px;
}

.start_fight_btn {
    margin-bottom: 20px;
}