body {
    font-family: 'Acme', sans-serif;
    padding: 20px;
}


.pokemon_list, 
.fight_list { 
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;

}

.pokemon_image {
    width: 400px;
    height: 400px;
}

button {
    font-family: 'Acme', sans-serif;
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #2773ba;
    color: #ffcc01;
    font-size: 24px;
}

.vs_logo {
    width: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% -50%);
}

.health1,
.health2 {
    background-image: linear-gradient(to right, red, yellow);
}

.pokemon1,
.pokemon2 {
    position: relative;
}

.demageWrapper1,
.demageWrapper2 {
    position: absolute;
    top: 0;
    left: 0;
}

.demageValue1,
.demageValue2 {
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

.winner {
    text-align: center;
    color: #ffcc01;
    font-size: 36px;
}

.logo_pokemon {
    display: block;
    margin: 60px auto 0;

}